.mySearch{
	position: relative;
	width: 100%;
	/*height: 40px;*/
	text-align: center;	
}
.mySearch input{
	background: transparent;
	border-bottom: 1.5px solid #FFF!important;
	width: 100%;
	height: 40px;
	text-align: center;
	position: absolute;
	right: 0;
}
.mySearch button{
	background: transparent;
    float: right;
	height: 42px;
}
.mySearch input, button {
	border: none;
	outline: none;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #FFF; opacity:0.5; 
    font-size: 16px;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #FFF;opacity:0.5;
     font-size: 16px;
}

input:-ms-input-placeholder{
    color: #FFF;opacity:0.5;
     font-size: 16px;
}

input::-webkit-input-placeholder{
    color: #FFF;opacity:0.5;
     font-size: 16px;
}


#pageone{
            margin: 0 auto;
            width: 100%;
        }
        .main{
        	height: 600px;
        }
        .am-header{
        	background: #F47920;	
        }
        .nav_1 img{
        	width: 100%;
        	height: 100%;
        	margin-top: 20px;
        }
        .nav_1{
        	text-align: center;
        }
        
        .am-navbar-nav{
        	background: #F47920!important;
        	padding-top: 7px;
        }
        .top{
        	position: fixed;
        	bottom: 80px;
        	right:0px;	
        }
        .am-gallery img{
        	height: 200px!important;
        }
        .am-gallery li{
        	box-shadow: 0 0 10px #ddd;
        }
        
        .am-gallery h3{
        	margin-top: 0!important;
        }
        .am-gallery h2{
        	margin: 0!important;
        	font-size: 24px!important;
        	color: #FF0000!important;
        	display: block;
        	margin-right: 0!important;
        	font-weight: bold!important;
        }
        .am-gallery p{
        	font-size: 12px;
        	float: right;
        	margin-top: 15px;
        	font-weight: normal;
        	color: #aaa;
        	margin-right: 10px;
        }
        .am-gallery h4{
        	margin: 0px!important;
        	float: right;
        }